/* 图片裁剪样式 */
.w-crop{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background: #000000;
}


.w-crop .w-crop-bg{
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
}
.w-crop .w-crop-img{
    position: relative;
    width: 100%;
}

.w-crop .w-crop-mask{
    background: RGBA(0,0,0,0.7);
    width: 100%;
}
.w-crop .w-crop-window{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ffffff;

}

/* 裁剪 - 中间层 */
.w-crop .w-crop-thumbnail{
    position: absolute;
    height: 64px;
    padding: 1px 0;
    width: 100%;
    bottom: 64px;
    left: 0;
    overflow: hidden;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.w-crop .w-crop-thumbnail .w-crop-thumbnail-list{
    height: 60px;
    width: 100%;
}
.w-crop .w-crop-thumbnail .w-crop-thumbnail-each{
    float: left;
    width: 40px;
    height: 60px;
    margin-left: 1px;

}
.w-crop .w-crop-thumbnail .w-crop-thumbnail-each img{
    width: 100%;
}

/* 裁剪 - footer */
.w-crop .w-crop-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 44px;
    background: #111111;
    line-height: 44px;
}
.w-crop .w-crop-footer a{
    float: left;
    color: #ffffff;
    width: 100px;
    text-align: center;
}

.w-crop .w-crop-footer .w-crop-confirm{
   float: right;
}

.w-backdrop-img{

    width: 100%;
    height: 100%;

}


.w-crop-window{
    width: 320px;
    height: 320px;
}