<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/static/css/base.css">
</head>
<body class="w-gradient-l">
<header class="w-header">
  <h1>管理后台-首页</h1>
</header>
<section class="w-content">
  <div class="w-add" style="margin-top: 20px">
    <a class="w-btn" href="/back/manage/edit">创建</a>
  </div>
  <div class="w-list" style="margin-top: 20px">
    <a class="w-btn" href="/back/manage/list">列表页</a>
  </div>
  <div class="w-preview" style="margin-top: 20px">
    <a class="w-btn" target="_blank" href="/fore?id=27">预览示例</a>
  </div>
</section>
<footer>
</footer>
</body>
</html>
